.site-header {
  background-color: #b8e8de;
  color: #2c535a;
  height: 100vh;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  border-radius: 75%;
  height: 200px;
  width: 200px;
  align-self: center;
  box-shadow: #184c66 2px 5px 5px;
}

body {
  margin: 0;
}

.course-link {
  color: #2c535a;
  text-decoration: none;
}

.site-header-content {
  margin: 10px;
}
